body {
    padding: 0px 0px 0px;
    margin: 0px;
    font: 14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-weight: normal;
    text-align: center;
    background: #252525;
    background-attachment: fixed !important;
    background: linear-gradient(#2a2a29, #1c1c1c)
}

html,body,.container,.content {
    height: 100%
}

.blur {
    filter: blur(5px);
}

.lol {
    width: 45%;
    aspect-ratio: 4 / 2;
    border: 3px solid gray;
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgb(24, 24, 24);
    padding: 20px 0px 0px;
    transform: translate(-50%, -50%);
  }

/*Class vs id???*/
.amazing {
    filter: blur(8px);
    background-image: url('../assets/kojima.jpg');
    height: 100%
}

blockquote {
    border-left: 3px solid #ffcc00;
    margin: 0;
    padding: 0 0 0 20px;
    font-style: italic
}

code {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
    color: #efefef;
    font-size: 13px;
    margin: 0 4px;
    padding: 4px 6px;
    border-radius: 2px
}