/*background: linear-gradient(#2a2a29, #1c1c1c)*/

body {
    padding: 0px 0px 0px;
    box-sizing: border-box;
    margin: 0px;
    font: 14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-weight: normal;
    text-align: center;
    background: url('../assets/cat1.gif');
    background-attachment: fixed !important;
    background-position: center;
    background-size: cover;
}

html,body,.container,.content {
    height: 100%
}

.lol {
    z-index:1;
    margin: 0 auto;
    max-width: 960px;
    padding: 1em;
    aspect-ratio: 4 / 2;
    border: 3px solid gray;
    background: rgb(24, 24, 24);    
  }

.amazing {
    z-index:-1;
    position:absolute;
    width: 100%;
    backdrop-filter: blur(6px);
    height: 100%
}

.job {
    height: 15%;
}



blockquote {
    border-left: 3px solid #ffcc00;
    margin: 0;
    padding: 0 0 0 20px;
    font-style: italic
}

code {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
    color: #efefef;
    font-size: 13px;
    margin: 0 4px;
    padding: 4px 6px;
    border-radius: 2px
}
