img {
    border: 0;
    -ms-interpolation-mode: bicubic
}

div {
    width: 45%;
    aspect-ratio: 4 / 2;
    border: 3px solid gray;
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgb(24, 24, 24);
    padding: 20px 0px 0px;
  }

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

body {
    padding: 50px 20px 0px;
    margin: 0px;
    font: 14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-weight: normal;
    text-align: center; 
    background: #252525;
    background-attachment: fixed !important;
    background: linear-gradient(#2a2a29, #1c1c1c)
}

blockquote {
    border-left: 3px solid #ffcc00;
    margin: 0;
    padding: 0 0 0 20px;
    font-style: italic
}

code {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
    color: #efefef;
    font-size: 13px;
    margin: 0 4px;
    padding: 4px 6px;
    border-radius: 2px
}